---
layout: page
---

<Script language="javascript">
/* 
 * 获取指定的URL参数值 
 * URL:http://www.quwan.com/index?name=tyler 
 * 调用方法:getParam("name") 
 */ 
function getParam(paramName) { 
    paramValue = "", isFound = !1; 
    if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
        arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
        while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
    } 
    return paramValue == "" && (paramValue = null), paramValue 
} 
	
function getQueryString(paramName) { 
	  var reg = new RegExp("(^|&)" + paramName + "=([^&]*)(&|$)", "i"); 
	  var r = window.location.search.substr(1).match(reg); 
	  if (r != null) return decodeURI(r[2]); return null; 
}

</Script>

//=====法1=====
{% for category in site.categories %}
    <h3>{{ category | first }} <span>({{ category | last | size }}篇)</span> </h3>  
    <ul class="arc-list">
        {% for post in category.last %}
            <li>{{ post.date | date:"%Y/%m/%d"}}&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

<br>
//=====法2=====categories
<h3>CategoryLists</h3>
<ul >
    {% for category in site.categories %}
        <li><a href="/categories/{{ category | first }}/" title="查看所有文章">{{ category | first }} ({{ category | last | size }})</a>
        </li>
    {% endfor %}
</ul>

输出指定分类的所有文章<sup>(与上面法2关联).[page.category]</sup>
{% for post in site.categories.[page.category] %}
    <li>{{ post.date | date:"%Y/%m/%d"}}&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
//==================================
{% for post in site.categories.['Python'] %}
    <li>{{ post.date | date:"%Y/%m/%d"}}&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

//=====输出该篇文章里的tag<br>
 {{site.url}}  <br>
 {{page.url}}  <br>
 {{ page.category }} <br>
  {% assign page.category = 'shif20999'%}
 {{ page.category }} <br>
 {{page.path}} <br>
 
<script>
	document.write("shif999<br>");
   document.write(getQueryString("cat"));
</script>
