---
layout: page
---

<style type="text/css">
.tag_count {
 color: #9A9;       /*文字颜色*/
 font-size: 16px;   /*font-size文字大小*/
}
</style>

{% for category in site.categories %}
<h3>{{ category | first }} <sup><span class="tag_count">({{ category | last | size }})</span></sup> </h3>  
    <ul class="arc-list">
        {% for post in category.last %}
            <li class="arc-shif">{{ post.date | date:"%Y-%m-%d"}}&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
