---
layout: page
---

{% for category in site.categories %}
    <h3>{{ category | first }} <span>({{ category | last | size }})</span> </h3>  
    <ul class="arc-list">
        {% for post in category.last %}
            <li>{{ post.date | date:"%Y-%m-%d"}}&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

<br>


//=====法2=====categories
<h3>CategoryLists</h3>
<ul >
    {% for category in site.categories %}
        <li><a href="/categories/{{ category | first }}/" title="查看所有文章">{{ category | first }} <sup>({{ category | last | size }})</sup></a>
        </li>
    {% endfor %}
</ul>

{% for post in site.categories.[page.category] %}
    <li>{{ post.date | date:"%Y-%m-%d"}}&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
